.main {
  background-color: #26c281;
}

.sidebar {
  background-color: #446cb3;
}

.header {
  background-color: #eeeeee;
}

.footer-m {
  background-color: #663399;
}
.text-align-center {
  text-align: center;
}
